# ðŸ“Š Data Pipeline â€“ FutureJobsAI
Pipeline responsÃ¡vel por coletar, tratar e preparar dados de empregabilidade e tendÃªncias de carreira.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

file_path = "/mnt/data/data_pipeline.csv"  # caminho fixo do arquivo salvo

df = pd.read_csv("jobs_dataset.csv")  # coloque o arquivo ao lado do notebook
df.head()

url = 'https://raw.githubusercontent.com/datasets/job-pay/master/data/job-pay.csv'
df.head()

                    job_title            area  annual_salary  growth_index
0            Engenheiro de IA      Tecnologia         145000            92
1          Cientista de Dados      Tecnologia         135000            88
2  Analista de CiberseguranÃ§a       SeguranÃ§a         128000            83
3    Desenvolvedor Full Stack      Tecnologia         110000            75
4       Especialista em Nuvem  Infraestrutura         125000            80

## ðŸ”§ Limpeza e PadronizaÃ§Ã£o

In [2]:
df.dropna(inplace=True)
df.rename(columns={'Job Title': 'job_title', 'Annual Salary': 'annual_salary'}, inplace=True)
df.head()

NameError: name 'df' is not defined

## ðŸ“ˆ GrÃ¡fico de DistribuiÃ§Ã£o Salarial

In [ ]:
plt.hist(df['annual_salary'], bins=30)
plt.title('DistribuiÃ§Ã£o Salarial')
plt.xlabel('SalÃ¡rio')
plt.ylabel('Quantidade')
plt.show()

In [3]:
df.to_csv('jobs_clean.csv', index=False)

NameError: name 'df' is not defined